<a href="https://colab.research.google.com/github/vijayaahirejadhav/DataScience/blob/main/Analyse_London_Olympics_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Summer Olympics, London 2012 dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and add the dataset

In [1]:
#Import the necessary library
import numpy as np

In [2]:
#Manually add the Summer Olympics, London 2012 dataset as arrays
np_list_of_country=np.array(['Great Britain','China','Russia','United States','Korea','Japan','Germany'])
np_list_of_country_code=np.array(['GBR','CHN','RUS','US','KOR','JPN','GER'])
np_list_of_year=np.array([2012,2012,2012,2012,2012,2012,2012])
np_list_of_gold=np.array([29,38,24,46,13,7,11])
np_list_of_silver=np.array([17,28,25,28,8,14,11])
np_list_of_bronze=np.array([19,22,32,29,7,17,14])

#### Find the country with maximum gold medals

In [3]:
#Use the argmax() method to find the highest number of gold medals
max_gold=np_list_of_gold.argmax()

In [4]:
#Print the name of the country
np_list_of_country[max_gold]

'United States'

#### Find the countries with more than 20 gold medals

In [5]:
#Use Boolean indexing technique to find the required output
print(np_list_of_country[np_list_of_gold>20])

['Great Britain' 'China' 'Russia' 'United States']

#### Evaluate the dataset and print the name of each country with its gold medals and total number of medals

In [6]:
#Use a for loop to create the required output
print("Country","Gold Medals","Total_medals")
for i in range(len(np_list_of_country)):
    total_medals=np_list_of_gold[i]+np_list_of_silver[i]+np_list_of_bronze[i]
    print(np_list_of_country[i],np_list_of_gold[i],total_medals)

Country Gold Medals Total_medals
Great Britain 29 65
China 38 88
Russia 24 81
United States 46 103
Korea 13 28
Japan 7 38
Germany 11 36