<a href="https://colab.research.google.com/github/vijayaahirejadhav/DataScience/blob/main/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the GDP Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and add the dataset

In [1]:
#Import required library
import numpy as np

In [ ]:
#Manually add the dataset
list_of_countries=['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe']
list_of_GDP=[2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605]
np_List_of_countries=np.array(list_of_countries)
np_List_of_GDP=np.array(list_of_GDP)
np_countries_gdp=np.array([list_of_countries,list_of_GDP])

#### 2: Find and print the name of the country with the highest GDP

In [ ]:
#Use the argmax() method to find the highest GDP 

np_List_of_GDP[np.argmax(np_List_of_GDP)]

40034.85063

In [ ]:
#Print the name of the country
np_List_of_countries[np.argmax(np_List_of_GDP)]

'Norway'

#### 3: Find and print the name of the country with the lowest GDP

In [ ]:
#Use the argmin() method to find the lowest GDP
np_List_of_GDP[np.argmin(np_List_of_GDP)]

229.6769525

In [ ]:
#Print the name of the country
np_List_of_countries[np.argmin(np_List_of_GDP)]

'Ethiopia'

#### 4: Print out text ('evaluating country') and input value ('country name') iteratively

In [ ]:
#Use a for loop to print the required output
for name in np_List_of_countries:
  print("evaluating country :",name)

evaluating country : Algeria
evaluating country : Angola
evaluating country : Argentina
evaluating country : Australia
evaluating country : Austria
evaluating country : Bahamas
evaluating country : Bangladesh
evaluating country : Belarus
evaluating country : Belgium
evaluating country : Bhutan
evaluating country : Brazil
evaluating country : Bulgaria
evaluating country : Cambodia
evaluating country : Cameroon
evaluating country : Chile
evaluating country : China
evaluating country : Colombia
evaluating country : Cyprus
evaluating country : Denmark
evaluating country : El Salvador
evaluating country : Estonia
evaluating country : Ethiopia
evaluating country : Fiji
evaluating country : Finland
evaluating country : France
evaluating country : Georgia
evaluating country : Ghana
evaluating country : Grenada
evaluating country : Guinea
evaluating country : Haiti
evaluating country : Honduras
evaluating country : Hungary
evaluating country : India
evaluating country : Indonesia
evaluating country : Ireland
evaluating country : Italy
evaluating country : Japan
evaluating country : Kenya
evaluating country : South Korea
evaluating country : Liberia
evaluating country : Malaysia
evaluating country : Mexico
evaluating country : Morocco
evaluating country : Nepal
evaluating country : New Zealand
evaluating country : Norway
evaluating country : Pakistan
evaluating country : Peru
evaluating country : Qatar
evaluating country : Russia
evaluating country : Singapore
evaluating country : South Africa
evaluating country : Spain
evaluating country : Sweden
evaluating country : Switzerland
evaluating country : Thailand
evaluating country : United Arab Emirates
evaluating country : United Kingdom
evaluating country : United States
evaluating country : Uruguay
evaluating country : Venezuela
evaluating country : Vietnam
evaluating country : Zimbabwe

#### 5: Print out the entire list of the countries with their GDPs

In [ ]:
#Use a for loop to print the required list
for i in range(len(np_List_of_countries)):
  print(np_List_of_countries[i],"\t",np_List_of_GDP[i])

Algeria 	 2255.225482
Angola 	 629.9553062
Argentina 	 11601.63022
Australia 	 25306.82494
Austria 	 27266.40335
Bahamas 	 19466.99052
Bangladesh 	 588.3691778
Belarus 	 2890.345675
Belgium 	 24733.62696
Bhutan 	 1445.760002
Brazil 	 4803.398244
Bulgaria 	 2618.876037
Cambodia 	 590.4521124
Cameroon 	 665.7982328
Chile 	 7122.938458
China 	 2639.54156
Colombia 	 3362.4656
Cyprus 	 15378.16704
Denmark 	 30860.12808
El Salvador 	 2579.115607
Estonia 	 6525.541272
Ethiopia 	 229.6769525
Fiji 	 2242.689259
Finland 	 27570.4852
France 	 23016.84778
Georgia 	 1334.646773
Ghana 	 402.6953275
Grenada 	 6047.200797
Guinea 	 394.1156638
Haiti 	 385.5793827
Honduras 	 1414.072488
Hungary 	 5745.981529
India 	 837.7464011
Indonesia 	 1206.991065
Ireland 	 27715.52837
Italy 	 18937.24998
Japan 	 39578.07441
Kenya 	 478.2194906
South Korea 	 16684.21278
Liberia 	 279.2204061
Malaysia 	 5345.213415
Mexico 	 6288.25324
Morocco 	 1908.304416
Nepal 	 274.8728621
New Zealand 	 14646.42094
Norway 	 40034.85063
Pakistan 	 672.1547506
Peru 	 3359.517402
Qatar 	 36152.66676
Russia 	 3054.727742
Singapore 	 33529.83052
South Africa 	 3825.093781
Spain 	 15428.32098
Sweden 	 33630.24604
Switzerland 	 39170.41371
Thailand 	 2699.123242
United Arab Emirates 	 21058.43643
United Kingdom 	 28272.40661
United States 	 37691.02733
Uruguay 	 9581.05659
Venezuela 	 5671.912202
Vietnam 	 757.4009286
Zimbabwe 	 347.7456605

#### 6: Print the following:
1. Highest GPD value
2. Lowest GDP value
3. Mean GDP value
4. Standardized GDP value
5. Sum of all the GDPs

In [ ]:
print(np_List_of_GDP[np.argmax(np_List_of_GDP)])
print(np_List_of_GDP[np.argmin(np_List_of_GDP)])
print(np.mean(np_List_of_GDP))
print(np.std(np_List_of_GDP))
print(np.sum(np_List_of_GDP))

40034.85063
229.6769525
11289.409271639683
12743.828910617945
711232.7841133