<a href="https://colab.research.google.com/github/vijayaahirejadhav/DataScience/blob/main/Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Summer Olympics, London 2012 dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and add the dataset

In [1]:
#Import the necessary library
import numpy as np

In [5]:
#Manually add the Summer Olympics, London 2012 dataset as arrays
np_olympic_country=np.array(['Great Britain','China','Russia','United States','Korea','Japan','Germany'])
np_olympic_country_code=np.array(['GBR','CHN','RUS','US','KOR','JPN','GER'])
np_olympic_country_year=np.array([2012,2012,2012,2012,2012,2012,2012])
np_olympic_country_gold=np.array([29,38,24,46,13,7,11])
np_olympic_country_sliver=np.array([17,28,25,28,8,14,11])
np_olympic_country_bronze=np.array([19,22,32,29,7,17,14])

#### Find the country with maximum gold medals

In [7]:
#Use the argmax() method to find the highest number of gold medals
maxgold=np_olympic_country_gold.argmax()

In [8]:
#Print the name of the country
np_olympic_country[maxgold]

'United States'

#### Find the countries with more than 20 gold medals

In [10]:
#Use Boolean indexing technique to find the required output
for i,value in enumerate(np_olympic_country_gold):
  if (value > 20):
    print(np_olympic_country[i])

Great Britain
China
Russia
United States

#### Evaluate the dataset and print the name of each country with its gold medals and total number of medals

In [18]:
#Use a for loop to create the required output
for i,value in enumerate(np_olympic_country_gold): 
  total_metal=np_olympic_country_gold[i]+np_olympic_country_sliver[i]+np_olympic_country_bronze[i]
  print("{} , having {} gold medals,  and total medals {}".format(np_olympic_country[i],value,total_metal))

Great Britain , having 29 gold medals,  and total medals 92
China , having 38 gold medals,  and total medals 132
Russia , having 24 gold medals,  and total medals 98
United States , having 46 gold medals,  and total medals 148
Korea , having 13 gold medals,  and total medals 42
Japan , having 7 gold medals,  and total medals 42
Germany , having 11 gold medals,  and total medals 44